{% extends 'futsalhubapp/layout.html' %}

  {% block body %}
    {% load static %}





<h3 class="welcomeinfutsalclubs">Welcome to balaju Futsal.</h3>


        <iframe id="locationmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28252.16732157819!2d85.27672573706606!3d27.73207464801088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb18c24695e0f5%3A0x1cb2955d3bd1fc15!2sBalaju%2C%20Kathmandu%2044600!5e0!3m2!1sen!2snp!4v1581320071137!5m2!1sen!2snp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

<br>
<br>
<br>

 <div class="name_and_location">
        <h5>Futsal Name: Balaju Futsal</h5>
        <h5>Location: Balaju, Kathmandu,NEPAL</h5>
    </div>

<div class="futsalinfo">
    <h5>Number of Fields:  One</h5>
    <h5>Facilities: Free Wi-Fi</h5>
    <h5>Contacts: 9808787878</h5>
    <h5>Websites: www.futsalclub.com</h5>

</div>



<h6 class="futsaltimetable"> Time Table</h6>
<div class="table">
    <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">S.N.</th>
      <th scope="col">Timings</th>
      <th scope="col">Rates </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Morning(6am – 10am)</td>
      <td>Rs. 1200  </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Afternoon(10am – 4pm)</td>
      <td>Rs. 1200</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Evening(4pm – 9pm)</td>
      <td>Rs. 1500</td>
    </tr>

  </tbody>
</table>

</div>

<div class="Booking_Button_each_club">
    <button type="button" class="btn btn-success"><h4>Book Now</h4></button>
</div>






    {% endblock %}