{% extends 'futsalhubapp/layout.html' %}

  {% block body %}
    {% load static %}

 <style>
.bimg{

    background-image: url( "{% static 'futsalhubapp/images/p6.jpg' %}");
    background-size:100%;
    background-repeat: no-repeat;
    background-position: top;

}
</style>

<div class="bimg">

<h3 class="welcomeinfutsalclubs">Welcome to Patan Futsal.</h3>

 <div class="name_and_location">
        <h5>Futsal Name: Patan Futsal</h5>
        <h5>Location: Patan, Kathmandu,NEPAL</h5>
    </div>

<div class="futsalinfo">
    <h5>Number of Fields:  one</h5>
    <h5>Facilities: Free Wi-Fi</h5>
    <h5>Contacts: 9663019978</h5>
    <h5>Websites: www.futsalclub.com</h5>
</div>

<h6 class="futsaltimetable"> Time Table</h6>
<div class="table">
    <table class="table table-striped table-dark">
    <thead>
    <tr>
      <th scope="col">S.N.</th>
      <th scope="col">Timings</th>
      <th scope="col">Rates </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Morning(6am – 10am)</td>
      <td>Rs. 856  </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Afternoon(11am – 5pm)</td>
      <td>Rs. 910</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Evening(5pm – 9pm)</td>
      <td>Rs. 1500</td>
    </tr>

  </tbody>
</table>

</div>

<div class="Booking_Button_each_club">
    <button type="button" ><h4></h4></button>
</div>


     </div>






    {% endblock %}
