{% extends 'futsalhubapp/layout.html' %}

  {% block body %}
    {% load static %}




<script>
function validateForm()
{
  var username = document.forms["mytrainingform"]["username"].value;
  var email = document.forms["mytrainingform"]["email"].value;
  var phone = document.forms["mytrainingform"]["phone"].value;
  var time= document.forms["mytrainingform"]["time"].value;


  var atposition=email.indexOf("@");
  var dotposition=email.lastIndexOf(".");

   if (email== "" )
   {
    alert("please enter email");
    return false;
   }

  if (atposition<1 || dotposition<atposition+2 || dotposition+2>=email.length)
  {
  alert("Please enter a valid email address \n atpostion:"+atposition+"\n dotposition:"+dotposition);
  return false;
  }

   if (username == "")
  {
    alert("please enter username");
    return false;
  }

  if(isNaN(phone))
    {
       alert("Enter numeric value")
       return false;
    }

    if(phone.length<10)
    {
        alert("Enter numeric at least 10 number")
       return false;
     }

}
</script>



   	 <div class="container"> <!--content start here-->


                <div class="training-box">
        <h1 class="traininghere">For Training</h1>
            <form name="trainingform"  method="POST" action="/training" name="mytrainingform" onsubmit=" return validateForm()">
                {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username" required>
            <p>email</p>
            <input type="text" name="email" placeholder="Enter email" required>
            <p>phone no.</p>
            <input type="number" name="phone" placeholder="Enter phone number" required>


            <p>Time Duration</p>
            <input type="radio" name="time" value="1month" required>Rs.5000/1 month<br>
             <input type="radio" name="time" value="3month">Rs.9000/3 months<br>
             <input type="radio" name="time" value="6month"> Rs.13000/6 months<br>

             <input type="submit" name="submit" value="training">


            </form>


            </div>


</div>

    {% endblock %}